<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Crossport Article</title>
	<link th:href="@{~/css/bootstrap.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{~/css/style.css}" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script th:src="@{~/js/jquery.min.js}"></script>
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".dropdown img.flag").addClass("flagvisibility");

			$(".dropdown dt a").click(function() {
				$(".dropdown dd ul").toggle();
			});

			$(".dropdown dd ul li a").click(function() {
				var text = $(this).html();
				$(".dropdown dt a span").html(text);
				$(".dropdown dd ul").hide();
				$("#result").html("Selected value is: " + getSelectedValue("sample"));
			});

			function getSelectedValue(id) {
				return $("#" + id).find("dt a span.value").html();
			}

			$(document).bind('click', function(e) {
				var $clicked = $(e.target);
				if (! $clicked.parents().hasClass("dropdown"))
					$(".dropdown dd ul").hide();
			});


			$("#flagSwitcher").click(function() {
				$(".dropdown img.flag").toggleClass("flagvisibility");
			});
		});
	</script>
	<!-- Include the Etalage files -->
	<link rel="stylesheet" th:href="@{~css/etalage.css}">
	<script th:src="@{~js/jquery.etalage.min.js}"></script>
	<!-- Include the Etalage files -->
	<script>
		jQuery(document).ready(function($){

			$('#etalage').etalage({
				thumb_image_width: 300,
				thumb_image_height: 400,

				show_hint: true,
				click_callback: function(image_anchor, instance_id){
					alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
				}
			});
			// This is for the dropdown list example:
			$('.dropdownlist').change(function(){
				etalage_show( $(this).find('option:selected').attr('class') );
			});

		});
	</script>
</head>
<body>
<div th:insert="navbar.html :: navbar"> </div>
     <div class="main">
      <div class="shop_top">
		<div class="container">
			<div class="row">
				<div class="alert alert-danger center" th:if="${param.error}">
					An error occured with article selected
				</div>
				<div class="alert alert-success center" th:if="${param.added}">
					Article added in the cart
				</div>
				<div class="col-md-9 single_left">
					<div class="single_image">
					     <div id="etalage" class="etalage">
							<div class="etalage_thumb thumb_1 etalage_thumb_active">
								<img class="etalage_source_image" th:src="@{${article.imgPath}}" alt="" src=""/>
							</div>
						</div>
					</div>
					<!-- end product_slider -->
					<div class="single_right">
						<h3 th:text="${article.name}"></h3>
						<p class="m_10" th:text="${article.description}"></p>
					</div>
				</div>
				<div class="col-md-3">
				  <div class="box-info-product">
					<p class="price2" th:text="${article.price} + ' CHF / pce'"></p>
					  <form th:method="post" th:action="@{/cart/article}">
						  <input name="id" th:value="${article.id}" hidden/>
						  <span>Quantity:</span>
						  <input type="number" id="quantity" name="quantity" value="1" min="1"/>
						  <br/><br/>
						  <button type="submit" name="Submit" class="exclusive">
							  <span>Add to cart</span>
						  </button>
					  </form>
				   </div>
			   </div>
			</div>
	     </div>
	   </div>
	  </div>
<div th:insert="footer.html :: footer"> </div>
</body>	
</html>